#loginScreen #header {
    -fx-font-size: 28;
    -fx-text-fill: white;
    -fx-label-padding: 30;
    -fx-font-weight: bold;
    -fx-font-family: AppleSystemUIFont;
    -fx-text-alignment: center;
    -fx-translate-y: -30;
}

#loginScreen #formTextfield {
    -fx-max-height: 45;
    -fx-pref-height: 45;
    -fx-max-width: 300;
    -fx-background-radius: 50;
    -fx-background-color: #494949;
    -fx-text-fill: white;
    -fx-font-size: 20;
}
#loginScreen #formPasswordfield {
    -fx-max-height: 45;
    -fx-pref-height: 45;
    -fx-max-width: 300;
    -fx-background-radius: 50;
    -fx-background-color: #494949;
    -fx-text-fill: white;
    -fx-font-size: 15;
}

#loginScreen #formTextfield:selected {
    -fx-background-color: #5da65d;
}

#loginScreen .button {
    -fx-background-color: #5da65d;
    -fx-text-fill: white;
    -fx-font-size: 21;
    -fx-label-padding: 5;
    -fx-background-radius: 30;
    -fx-pref-width: 200;
    -fx-translate-y: 30;

}

#loginScreen .button:hover {
    -fx-background-color: #025b02;
}

#loginScreen #mainMenu {
    -fx-background-radius: 50;
    -fx-background-color: #646464;
    -fx-max-width: 450;
    -fx-max-height: 500;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.1), 50, 0.5, 0.0, 0.0);
}

#loginScreen {
    -fx-background-image: url("310522.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#chatpartner #background {
    -fx-background-radius: 50;
    -fx-background-color: #494949;
    -fx-max-width: 450;
    -fx-max-height: 500;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.1), 50, 0.5, 0.0, 0.0);
}

#chatpartner #clientList {
    -fx-max-height: 400;
    -fx-max-width: 350;
    -fx-background-color: #646464;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.1), 50, 0.5, 0.0, 0.0);

}

#chatpartner #clientCell:cell-selection {
    -fx-background-color: #025b02;
}

#chatpartner #clientCell {
    -fx-background-color: #646464;
    -fx-padding: 15;

}
#chatpartner #clientCell .button {
    -fx-background-color: #5da65d;
    -fx-text-fill: white;
    -fx-font-size: 13;
    -fx-label-padding: 8;
    -fx-background-radius: 10;
    -fx-pref-width: 100;
    -fx-alignment: center;
}
#chatpartner #clientCell .button:hover {
    -fx-background-color: #025b02;
}
#chatpartner #clientCell .label {
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-alignment: center;
}

#chatpartner {
    -fx-background-image: url("310522.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}


#chat #historyBackground {
    -fx-max-height: 500;
    -fx-max-width: 600;
    -fx-pref-width: 500;
    -fx-background-color: #646464;
    -fx-background-radius: 20;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.1), 50, 0.5, 0.0, 0.0);

}

#chat {
    -fx-background-image: url("310522.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;

}
#chat #menubar {
    -fx-padding: 0;
}


#chat #msgBackground {
    -fx-end-margin: 50;
    -fx-background-color: #646464;
    -fx-max-width: 600;
    -fx-max-height: 200;
    -fx-background-radius: 20;
    -fx-padding: 20;
    -fx-spacing: 20;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.1), 50, 0.5, 0.0, 0.0);
}

#chat .button {
    -fx-background-size: 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
    -fx-min-width: 50;
    -fx-background-radius: 20;
    -fx-background-color: #5da65d;

}

#chat #messageArea {
    -fx-control-inner-background: #494949;
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-max-height: 100;
}

#chat .button:hover {
    -fx-background-color: #025b02;
}

#chat #sendMsgButton {
    -fx-background-image: url("send-icon.png");
}
#chat #sendDataButton {
    -fx-background-image: url("data.png");
}
#chat #sendBox {
    -fx-alignment: baseline-center;
    -fx-spacing: 15;
}
#chat #msgHistory {
    -fx-max-height: 500;
    -fx-pref-height: 500;
    -fx-max-width: 600;
    -fx-background-color: #646464;
    -fx-border-radius: 20;
}
#menubar {
    -fx-background-color: rgba(20, 20, 20, 0.5);
    -fx-padding: 5;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
}
#menubar #menu {
    -fx-text-fill: white;
    -fx-background-color: rgba(20, 20, 20, 0.5);
}
#menubar #menu:hover {
    -fx-background-color: #5da65d;
}
.menu .label, .menu-item .label {
    -fx-text-fill: white;
}
.context-menu {
    -fx-background-color: rgba(20, 20, 20, 0.5);
}
#chatCell {
    -fx-background-color: #646464;
    -fx-padding: 5;
}
#chatCell .label {
    -fx-translate-x: 10;
    -fx-padding: 5;
    -fx-text-fill: white;
    -fx-font-size: 15;
}
#chatCell #username {
    -fx-font-size: 20;
}
#chatCellBox {
    -fx-background-color: #494949;
    -fx-background-radius: 20;
}
#chatCellBoxOwn {
    -fx-background-color: #5da65d;
    -fx-background-radius: 20;
}
#chatRequest {
    -fx-background-color: rgba(240, 240, 240, 0.5);
}
#chatRequest .label {
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}
#chatRequest .button {
    -fx-background-radius: 12;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-pref-height: 30;
    -fx-pref-width: 85;
    -fx-text-fill: white;
}
#chatRequest #confirmButton {
    -fx-background-color: #5da65d;
}
#chatRequest #confirmButton:hover {
    -fx-background-color: #025b02;
}
#chatRequest #declineButton {
    -fx-background-color: #d70101;
}
#chatRequest #declineButton:hover {
    -fx-background-color: #8d0202;
}
